<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    {% for message in messages %}
        <h3>{{ message }}</h3>
    {% endfor %}

    <form action="{% url 'login' %}" method="POST"> <!-- Updated action URL to use the correct URL name -->
        {% csrf_token %}
        <p>Username:</p>
        <input type="text" name="username" required>
        <p>Password:</p>
        <input type="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>

    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</body>
</html>
