{% extends 'base.html' %}
{% load static %}

{% block title%}WEBapp - Notification{% endblock %}

{% block content %}

    <h1>Notification</h1>

    <div>
        {% for request in pending_requests %}
            <div class="mb-3 card">
                <p>Payment Request from: {{ request.sender.username }}</p>
                <p>Amount: {{ request.amount }}</p>
                <form action="{% url 'payapp:handle_payment_request' request.id 'accept' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Accept</button>
                </form>
                <form action="{% url 'payapp:handle_payment_request' request.id 'reject' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Reject</button>
                </form>
            </div>
        {% endfor %}
    </div>


{% endblock %}

