{% extends 'base.html' %}
{% load static %}

{% block title%}WEBapp Dashboard - Payment Request Successful{% endblock %}

{% block content %}
    <style>
        body {
            background-color:  #eee;
        }
        .title {
        
            margin-bottom: 50px;
            text-transform: uppercase;
        }
        
        .card-block {
            font-size: 1em;
            position: relative;
            margin: 0;
            padding: 1em;
            border: none;
            border-top: 1px solid rgba(34, 36, 38, .1);
            box-shadow: none;
            
        }
        .card {
            font-size: 1em;
            overflow: hidden;
            padding: 5;
            border: none;
            border-radius: .28571429rem;
            box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
            margin-top:20px;
        }
    </style>

    <div class="container py-3">
        <div class="title h1 text-center">Payment Request Successful</div>
            <!-- Card Start -->
            <div class="card">
                <p>Your payment request has been successfully submitted.</p>
                
            </div>
        </div>
        <!-- End of card -->
      
    </div>

{% endblock %}
